/*Empty CSS file for your own CSS*/

body {
    background-color: #000000;
    color: #c4c4c4;
}

a {
    color: #2DA4A8;
}

a:hover{
    color: #FEAA3A;
    text-decoration: none;
}

.page-header{
    background-color: #4d4d4d99;
    color: #f0f0f0;
    font-family: 'Righteous', cursive;
}

.page-header a{
    color: #898989;
}

.contents-title{
    border-bottom:solid 1px #666666;
    font-family: 'Righteous', cursive;
    margin-bottom: 10px;
}

.page-footer{
    background-color: #4d4d4d99;
    color: #cecece;
    font-family: 'Righteous', cursive;
    padding-top: 20px;
    padding-bottom: 10px;
}

.contents-margin{
    margin-bottom: 100px;
}

.contents-about{
    font-size: 110%;
    padding: 3px 20px;
    margin-bottom: 100px;
}

/* anchor space (https://y-com.info/contents/?p=5641) */
.anchor{
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}


/* top-space (https://mae.chab.in/archives/2749) */
.top-space{
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;/* 要素をflexboxに対応させる */
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;/* 縦方向の中央揃え */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;/* 横方向の中央揃え */
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;/* 子要素の並びを上から下にする（要素の改行に対応） */
    font-family: 'Righteous', cursive;
    color: #cecece;
}

/* Cables BackGround */
#glcanvas{
    position: fixed; /*canvasを固定*/
    top: 0; /*canvasを上に固定*/
}

/* Cables read */
.cables{
    position:relative;
    width:90%;
    height:0;
    padding-top:50.634%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.cables iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/* Contact Form */
.form {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 5px;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    padding: 0.4em 0.8em;
    width: 85%;
}
  
.form:focus {
    border: 1px solid #2DA4A8;
    box-shadow: none;
    outline: none;
}

.submit {
    -webkit-appearance: none;
    background-color: rgba(136, 136, 136, 0.37);
    background-image: none;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    margin: 0 0 1em;
    padding: 0.6em 2em;
    text-decoration: none;
}
  
.submit:hover,
.submit:focus {
    outline: none;
}

.jpn-text {
    position: relative;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    box-sizing: border-box;
    font-style: italic;
    font-size: 80%;
    color: #acacac;
    background: #c7c7c71f;    
}

/* Works Page　グリッドレイアウト */
.contents-grid {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.contents-item {
    overflow: hidden;
    position: relative;/*相対配置*/
	
}

.contents-item .caption {
    font-family: 'Righteous', cursive;
	font-size: 130%;
	text-align: center;
	color: #fff;
}
.contents-item .mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;	/* マスクを表示しない */
	background-color: rgba(0,0,0,0.4);
	-webkit-transition:	all 0.6s ease;
	transition:	all 0.6s ease;
}
.contents-item:hover .mask {
	opacity: 1;	/* マスクを表示する */
	padding-top: 80px;	/* ホバーで下にずらす */
}

.contents-item img {
	width: 100%;
	height: 180px;
	object-fit: cover;
}


/* for My PortFolio Page */
.portfolio--frame{
    /*border:solid 1px #000000;
    border-radius: 10px;
    box-shadow: 0 0 5px #ffffff;*/
    margin: 10px 0px;
}

.portfolio--title{
    border-top:solid 1px #666666;
    padding: 10px;
    font-size: 140%;
}

.portfolio--spaceA{
    margin: 50px 0px;
}

.portfolio--spaceB{
    margin: 0px 10px;
}

.portfolio--category{
    border-top:solid 2px #666666;
    padding: 10px;
    font-size: 110%;
}

.portfolio--lineA{
    border-top:solid 1px #666666;
    padding: 10px;
}

.portfolio--lineB{
    border-top:dashed 2px #b8b8b8;
    padding: 10px;
}

.youtube{
    position:relative;
    width:100%;
    height:0;
    padding-top:56.25%;
    padding-bottom:10%;
}
.youtube iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.icon::before {
	content:'\f778';
	font-family:'Font Awesome 5 Brands';
    font-weight: 900;
    font-size: 120%;
}